<!DOCTYPE HTML>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/weui.min.css" th:href="@{/css/weui.min.css}" />
    <link rel="stylesheet" type="text/css" href="/css/example.css" th:href="@{/css/example.css}" />
    <link rel="stylesheet" type="text/css" href="/css/lli.css" th:href="@{/css/lli.css}" />
</head>
<body>

<div class="page home js_show">
    <div id="lli_head_ad"></div>
    <dir id="lli_user_bar">
        <div id="lli_user_wrapper">
            <img class="lli_user_headImg" src="/image/avatar.png" width="40" height="40" th:src="${user.headImgUrl}" />
            <div class="lli_user_nickname" th:text="${user.nickName}">Nick Name</div>
        </div>
    </dir>

    <a class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="/image/avatar.png" alt=""/>
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title lli_audio_title">文件标题</h4>
            <p class="weui-media-box__desc lli_audio_desc">简单说明</p>
        </div>
        <div class="weui-cell__ft lli_pub_datetime">2017-01-15</div>
    </a>

    <a class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="/image/avatar.png" alt=""/>
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">文件标题</h4>
            <p class="weui-media-box__desc">简单说明</p>
        </div>
        <div class="weui-cell__ft lli_pub_datetime">2017-01-17</div>
    </a>

</div>

</body>
</html>