<!DOCTYPE HTML>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'财商资讯 - ' + ${audio.title}">Media Detail></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="/css/audioplayer.css" th:href="@{/css/audioplayer.css}" />
    <link rel="stylesheet" type="text/css" href="/css/lli.css" th:href="@{/css/lli.css}" />

<script>
    var LLI = {};
</script>

</head>
<body>

<!-- Fixed top -->
<div class="lli_top_ad">
    <div id="lli_head_ad"><img src="/image/main.jpg" height="140"/></div>
    <dir id="lli_user_bar">
        <div id="lli_user_wrapper">
            <img class="lli_user_headImg" src="/image/avatar.png" width="40" height="40" th:src="${user.headImgUrl}" />
            <div class="lli_user_nickname" th:text="${user.nickName}">Nick Name</div>
        </div>
    </dir>
</div>
<!-- End fixed top -->

<!-- Page content -->
<div class="lli_content" th:attr="data-audio_id=${audio.id}">
    <div class="lli_media_container">
        <h4 class="lli_media_title"><span th:text="${audio.title}"></span><small class="lli_pub_playtimes" th:text="'播放: '+ ${audio.playTimes}"></small></h4>
        <div class="lli_media_img" th:style="'background-image: url('+ @{/mp/coverImg/__${audio.id}__} +')'">
        </div>
        <audio preload="preload" controls="controls" th:src="@{/audio/__${audio.filename}__}"></audio>
        <div class="lli_media_description" th:text="${audio.description}"></div>
    </div>
</div>
<!-- End page content -->

<script src="/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/audio.min.js" th:src="@{/js/audioplayer.js}"></script>
<script src="/js/mediaDetail.js" th:src="@{/js/mediaDetail.js}"></script>
</body>
</html>