<!DOCTYPE HTML>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'财商资讯 - ' + ${audio.title}">Media Detail></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="/css/audioplayer.css" th:href="@{/css/audioplayer.css}" />
    <link rel="stylesheet" type="text/css" href="/css/lli.css" th:href="@{/css/lli.css}" />

<script>
    var LLI = {};
</script>

</head>
<body>

<!-- Fixed top -->
<div class="lli_top_ad">
    <div id="lli_head_ad"><img src="/image/main.jpg" height="140"/></div>
    <dir id="lli_user_bar">
        <div id="lli_user_wrapper">
            <img class="lli_user_headImg" src="/image/avatar.png" width="40" height="40" th:src="${user.headImgUrl}" />
            <div class="lli_user_nickname" th:text="${user.nickName}">Nick Name</div>
        </div>
    </dir>
</div>
<!-- End fixed top -->

<!-- Page content -->
<div class="lli_content" th:attr="data-audio_id=${audio.id}">
    <div class="lli_media_container">
        <h4 class="lli_media_title">
            <span th:text="${audio.title}"></span>
            <small class="lli_pub_playtimes" th:text="${audio.friendlyDateTime}"></small>
            <small class="lli_pub_playtimes" th:text="'播放: '+ ${audio.playTimes}"></small>
        </h4>
        <div class="lli_media_img">
            <img class="lli_media_coverImg" th:src="@{/mp/coverImg/__${audio.id}__}" height="100%" width="100%" />
        </div>
        <audio preload="preload" controls="controls" th:src="@{/audio/__${audio.filename}__}"></audio>
        <div class="lli_media_description" th:text="${audio.description}"></div>
    </div>

    <!-- Comment Button -->
    <div class="lli_btn_view_comment_model"><a href="#" data-toggle="modal" data-target="#commentModal" class=""><i class="fa fa-commenting" aria-hidden="true"></i></a></div>
    <!-- End of Comment Button -->

    <!-- Customer Comment -->
    <div id="lli_comment_wrapper"></div>
    <!-- End of Customer Comment -->
</div>
<!-- End page content -->

<!-- Modal -->
<div id="commentModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <form method="post" action="/mp/audioComment" id="commentForm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">评论<input type="hidden" name="audioId" th:value="${audio.id}"/></h4>
      </div>
      <div class="modal-body">
        <textarea id="comment" class="form-control" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button id="lli_btn_submit_comment" type="button" class="btn btn-sm btn-primary">提交评论</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">关闭窗口</button>
      </div>
    </div>
    </form>
    <!-- Modal content end -->

  </div>
</div>

<script src="/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="/js/audio.min.js" th:src="@{/js/audioplayer.js}"></script>
<script src="/js/mediaDetail.js" th:src="@{/js/mediaDetail.js}"></script>
</body>
</html>