<!DOCTYPE HTML>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>The App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/weui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/example.css}" />
</head>
<body>

<div class="page home js_show">
	<div class="page__hd">
		<h1 class="page__title" th:text="${name}">NAME</h1>
		<p class="page__desc">article</p>
	</div>

	<div class="page__bd page__bd_spacing">
		<ul>
			<li class="">
				<div class="weui-flex js_category">
					<p class="weui-flex__item">
						<audio controls="controls">
							<source src="http://xia2.kekenet.com/Sound/2017/01/dailynews145_2921574FQa.mp3" type="audio/mp3" />
							Your browser does not support the audio element.
						</audio>
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>

</body>
</html>