<!DOCTYPE HTML>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>听讯后台管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="/css/admin_common.css" th:href="@{/css/admin_common.css}" />
    <link rel="stylesheet" href="/css/adminIndex.css" th:href="@{/css/adminIndex.css}" />
</head>
<body>

<div class="container-fluid lli_full_height">
  <div class="row lli_full_height">
  	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 lli_func_list lli_full_height">
  		<div class="lli_menu_head">听讯管理</div>
  		<ul>
  			<li class="lli_menu_current"><i class="fa fa-check lli_menu_indicator" aria-hidden="true"></i> 音频管理</li>
  			<li><a href="/admin/users">用户管理</a></li>
  		</ul>
  	</div>
  	<div id="lli_admin_content" class="col-xs-10 col-sm-10 col-md-10 col-lg-10"></div>
  </div>
</div>

<script type="text/javascript">
	var LLI = {};
</script>

<script type="text/javascript" src="/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="/js/adminIndex.js" th:src="@{/js/adminIndex.js}"></script>
<script type="text/javascript" src="/js/adminAudios.js" th:src="@{/js/adminAudios.js}"></script>

</body>
</html>