.lli_full_height {
	height: 100%;
}

.lli_func_list {
	border-right: 1px solid #000;
}

.lli_menu_head {
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	font-weight: bold;
}

.lli_func_list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.lli_func_list ul li {
	font-size: 14px;
	height: 22px;
	padding-left: 20px;
	padding-left: 18px;
}

.lli_func_list ul li a:link {

}

.lli_func_list ul .lli_menu_current {
	padding-left: 0;
}

.lli_menu_indicator {
	color: #D35400;
}

.lli_menu_icon {
	width: 30px;
}

.lli_audio_row:hover {
	background-color: #F4F4F4;
}