body {
	height: 100%;
    width: %100;
}

.lli_top_ad {
	width:100%;
    position:fixed;
    top: 0px;
}

.lli_content {
    margin-top: 215px;
}

#lli_head_ad {
	padding: 0 auto 0 auto;
	background-color: #2D5074;
	height: 150px;
	text-align: center;
}

#lli_head_ad img {
	margin-top: 5px;
}

#lli_user_bar {
	margin: 0;
	padding: 5px 10px 0 10px;
	box-shadow: 0px 5px 23px rgba(183, 174, 174, 0.5);
	background-color: #fff;
}

#lli_user_wrapper {
	height: 45px;
}

.lli_user_headImg {
	border: 0;
	height: 40px;
	width: 40px;
	border-radius: 4px;
	float: left;
}

.lli_user_nickname {
	float: left;
	margin-left: 8px;
	padding-top: 8px;
}

.lli_media {
	padding: 2px 5px 2px 5px;
}

.lli_audio_list_img {
	border-radius: 4px;
	box-shadow: 3px 3px 5px grey;
}

.lli_pub_datetime {
	margin-left: 10px;
	color: #BBB;
}

.lli_pub_playtimes {
	margin-left: 10px;
	color: #BBB;
}

.lli_devider {
	height: 5px;
}

.lli_clickable {
	padding: 5px 0 5px 0;
	cursor: pointer;
}

.tap-bg-color {
	background-color: #F4F4F4;
}

.lli_media_container {
	padding: 10px;
}

.lli_media_title {
}

.lli_media_img {
	border: 1px solid #ccc;
	background-color: #FFF;
	height: 200px;
}

.lli_media_comment {
	margin: 10px 0 10px 0;
	line-height: 20px;
}

.audiojs {
	width: 100%;
}

.audiojs .play-pause {
	width: 40px;
}